.btn:not(.active) {
    background-color: #ffffff;
    color: #6c757d;
  }

  .btn.active {
    background-color: #007bff;
  }

  .firewood-image {
    width:80%;
    height:80%;
  }

  .firewood-image-short {
    width:80%;
    height:100%;
  }


#live-order-location-select{
  width: 20%;
  height: 20%;
}

#live_orders_need_pickup{
  height: 100%;
}

#live_orders_need_approval{
  height: 100%;
}

.card-body{
  font-size: larger;
}

.surf-image{
  width: 70%;
  height: auto;
}

ul{
  list-style: none;
}