.maze-row{
    display: flex; /* or display: grid; */
    margin: 0;
}

.maze-cell{
    background-color: white;
    border: none;
}
.maze-wall{
    background-color: black;
    border: 1px solid black;
}
.maze-start{
    background-color: grey;
    text-align: center;
    color: white;
}
.maze-end{
    background-color: grey;
    text-align: center;
    color: white;
}
.path{
    background-color: red;
}

.maze-row > span{
    display: inline-block;
    width: 20px;
    height: 20px;
    
}
#mazeContainer{
    margin: 1.5rem 0 1.5rem 0;
}