.ring{
    color: white ;
    background-color: white;
    width: 20px;
    height: 20px;
    border: 1px solid black;

    
}

.active{
    background-color: red;
    color: red;

    width: 20px;
    height: 20px;
    border: 1px solid black;
}

#ring-buffer{
    display: flex;
    text-align: center;
    line-height: 20px;
    margin: 2rem 0 2rem 0;
}

#head{
    background-color: red;
    color: black;
    
}

#tail{
    background-color: red;
    color: black;
}

#headTail{
    background-color: red;
    color: black;
}

#secret{
    color:red;
}