
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
    
  }

  #footer{
    background-image: url(../assets/LakeTapps.jpeg);
    height: 500px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Added this line */
  }
  
  .navbar-links li {
    margin-left: 10px;
    flex: 1; /* Added this line */
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none; 
  }

  .section {
    margin-bottom: 40px;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .project-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .project-description {
    margin-top: 5px;
  }

  .navLogo{
    width: 1.5em;
    height: 1.5em;
  }
  #linkedin{
    width: 4em;
    height: 1em;
    bottom: 0.05em;
    position: relative;
  }

  #avatar-section{
    padding: auto;
  }
  #avatar{
    margin: auto;
    width: 8rem;
    height:8rem;

  }

  #lake-tapps{
    margin: auto;
    width: 10rem;
    
  }

  .custom-list {
    /* Add custom styles for the list */
    margin-top: 20px; /* Example spacing */
    margin-bottom: 20px; /* Example spacing */
  }
  
  .custom-list-item {
    /* Add custom styles for the list items */
    margin-bottom: 10px; /* Example spacing between list items */
  }

  .link-unstyled {
    text-decoration: none;
    color: #fff;
    
  }
  .link-unstyled:hover {
    text-decoration: none;
    color: #fff;
    
  }

.recursive{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 1em;
  margin-bottom: 1em;
}
  




  
  
  
  