
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Added this line */
  }
  
  .navbar-links li {
    margin-left: 10px;
    flex: 1; /* Added this line */
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none; 
  }

  .section {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .project-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .project-description {
    margin-top: 5px;
  }

  .navLogo{
    width: 1.5em;
    height: 1.5em;
  }
  #linkedin{
    width: 4em;
    height: 1em;
    top: 0.15em;
    position: relative;
  }

  #img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #avatar {
    max-width: 8rem;
    max-height: 8rem;
  }
  
  #dropdown-bars{
    width:100%;
    height: 90%;
  }

  #dropdown{
    color: #fff;
  }
  .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
  
  
  
  



  




  
  @media (max-width: 600px) {
    .container {
      padding: 0 10px;
    }
    
    .navbar-links {
      display: none;
    }
    
    .navbar-brand {
      font-size: 20px;
    }
  }


  #col1{
    background-color: aqua;
  }
  #col2{
    background-color: red;
  }
  